@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-button.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-pause.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-forwards.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-backwards.css');

.player-container {
   border-radius: 10%;
   background-color: rgba($color: #aacc00, $alpha: 0.5);
   margin: 2rem;
   padding: 4rem 0;
   text-align: center;

   &--album-cover {
      img {
         width: 50%;
      }
   }

   &--song-info {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      h2 {
         color: #cae9ff;
         padding-bottom: 0.5rem;
      }

      p {
         color: #cae9ff;
         padding-bottom: 4rem;
      }
   }

   &--interactive-buttons {
      display: flex;
      
      button {
         background-color: transparent;
         border: none;
      }
   }
}

/* CSS.gg icons */
.gg-play-button {
   --ggs: 5;
}

.gg-pause-button {
   --ggs: 5;
}

.gg-play-forwards {
   --ggs: 2;
}

.gg-play-backwards {
   --ggs: 2;
}