<main class="player-container">
   <span class="player-container--album-cover">
      <img 
         src="https://i.pinimg.com/736x/85/59/1a/85591a502541135dbcb13843bd0f72e3--music-album-covers.jpg" 
         alt="album cover">
   </span>
   <div class="player-container--song-info">
      <h2>Song Title</h2>
      <p>Artist Name</p>
   </div>
   <div class="player-container--audio-container">
      <audio id="myAudio" controls>
         <!-- TODO: insert first music here -->
          <source src="caminho_para_sua_musica.mp3" type="audio/mpeg">
          Seu navegador não suporta o elemento de áudio.
      </audio>
      <div class="player-container--audio-container--progress-bar-container">
          <div 
            class="player-container--audio-container--progress-bar-container-progress-bar" 
            id="progressBar"
         >
         </div>
      </div>
  </div>
   <div class="player-container--interactive-buttons">
      <!-- TODO: create a method to navigate through a song list -->
      <button>
         <i class="gg-play-backwards"></i>
      </button>
      <button (click)="changePlayIcon()">
         <i *ngIf="!isSongPlaying" class="gg-play-button"></i>
         <i *ngIf="isSongPlaying" class="gg-play-pause"></i>
      </button>
      <button>
         <i class="gg-play-forwards"></i>
      </button>
   </div>
</main>