.app-container {
   background-color: #03045E;
   display: flex;
   justify-content: center; /* Centraliza horizontalmente */
   align-items: center; /* Centraliza verticalmente */
   height: 100vh; /* Para centralizar na altura total da janela */
}